version: '3.8'

services:
  cart-service:
    build: ./cart_service
    ports:
      - "8001:8001"
    environment:
      - PORT=8001
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - ORDER_SERVICE_URL=order-service:50051
    depends_on:
      - redis
      - order-service

  order-service:
    build: ./order_service
    ports:
      - "50051:50051"
    environment:
      - ORDER_GRPC_PORT=50051

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data:
